* {
  font-family: 'Segoe UI';
}


html, body {
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  min-height:300px;
  max-height:600px; 
  overflow-y: auto;
  overflow-x: hidden;

}

.note-popup-container {
  width: 300px;
  margin-right: -15px;
  height: 50%;
}

.head-container {
  background-color: #393d41;
  text-align: center;
  padding: 20px;
  padding: 5px 22px 30px 10px;
}
h2 {
  margin: 14px 0px 0px 0px;
}
h4 {
  margin: 4px 0px 30px 0px;
}
.head-container > h2, h4 {
  color: azure;
}

.note-box {
  padding: 0px 36px 0px 10px;
  margin-bottom: 5px;
  text-align: justify;
  
}



.note-box > p:hover {
  color: aquamarine;
}
#notes {
  margin: 0px -20px 0px -10px;
}

#export, #clear {
  color: aquamarine;
  border: 1px solid black; 
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  box-shadow: 0px 0px 2px 0px;
}
#export:hover, #clear:hover {
  color: rgb(130, 255, 213);
  border: 1px solid black; 
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px;
}

#export:active {
  color: rgb(130, 255, 213);
  border: 1px solid black; 
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  box-shadow: 0px 0px 0px 0px;
}

#num-notes {
  border: 1px solid rgb(226, 224, 224);
  padding: 10px;
  box-shadow: 0px 0px 0px 0px;
  color: #757575;
  font-weight: 600;
}